<div class="palette">
    <div class="palette__tabs hidden"></div>
    <div class="palette__container">
        <div class="palette__search">
            <input class="text" type="text" name="search" value="" autocomplete="off">
            <span class="palette__loader hidden"></span>
        </div>
        <div class="palette__commands">
            <ul></ul>
        </div>
    </div>
</div>

{% js %}
    new Craft.Palette({{ commands|raw }});
{% endjs %}
