<div class="command">
    <div class="command__tabs hidden"></div>
    <div class="command__container">
        <div class="command__search">
            <input class="text" type="text" name="search" value="" autocomplete="off">
            <span class="command__loader hidden"></span>
        </div>
        <div class="command__commands">
            <ul></ul>
        </div>
    </div>
</div>

{% js %}
    new Craft.Command({{ commands|raw }});
{% endjs %}
