.amcommand {
    background: #333f4d;
}

.amcommand__tabs {
    background: #333f4d;
    color: #FFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


/**
 * Input
 */
.amcommand__search input[type=text] {
    background: #fafafa;
}


/**
 * Commands
 */
.amcommand__commands li:hover {
    background: rgba(255, 255, 255, 0.05);
}

.amcommand__commands li.focus {
    background: rgba(255, 255, 255, 0.1);
}

.amcommand__name {
    color: #d7d9db;
}

.amcommand__commands li.focus .amcommand__name {
    color: #fff;
}

.amcommand__info {
    color: #b9bfc6;
}

.amcommand__shortcut {
    color: #d7d9db;
}

.amcommand__commands li.focus .amcommand__shortcut {
    color: #fff;
}

.amcommand__icon {
    color: #d7d9db;
}

.amcommand__commands li.focus .amcommand__icon {
    color: #fff;
}

.amcommand__icon svg path {
    fill: #d7d9db;
}

.amcommand__commands li.focus .amcommand__icon svg path {
    fill: #fff;
}
