<div class="amcommand">
    <div class="amcommand__tabs hidden"></div>
    <div class="amcommand__container">
        <div class="amcommand__search">
            <input class="text" type="text" name="search" value="" autocomplete="off">
        </div>
        <div class="amcommand__loader spinner hidden"></div>
        <div class="amcommand__commands">
            {% include 'amcommand/triggerCommand' %}
        </div>
    </div>
</div>