<div class="amcommand">
    <div class="amcommand__search">
        <input class="text" type="text" name="search" value="" autocomplete="off">
    </div>
    <div class="amcommand__items">
        {% if data|length %}
            {% set counter = 0 %}
            <ul>
                {% for type, items in data %}
                    {% for itemName, itemUrl in items %}
                        <li data-id="{{ loop.index0 + counter }}">
                            <a href="{{ itemUrl }}">{{ type }}: {{ itemName }}</a>
                        </li>
                        {% if loop.last %}
                            {% set counter = counter + loop.length %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>