<div class="amcommand">
    <div class="amcommand__tabs hidden"></div>
    <div class="amcommand__container">
        <div class="amcommand__search">
            <input class="text" type="text" name="search" value="" autocomplete="off">
            <span class="amcommand__loader hidden"></span>
        </div>
        <div class="amcommand__commands">
            <ul></ul>
        </div>
    </div>
</div>
